.App {
  text-align: center;
  color: #443e3e;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-family: 'star-jedi', arial;
}
/* write your parent styles in here for your App.js */

.character-card {
  background-color: white;
  opacity: .75;
  padding: 10px 2rem;
  text-align: left;
  line-height: 1.25rem;
  margin: 15px 3rem;
}

.character-card h3 {
  line-height: .4rem;
}

.character-card ul {
  font-size: 1rem;
  padding: 0;
  
  
}
